#search-navbar{
  width: auto;
  margin-bottom: 0px;
}

#button-navbar-search{
  float: right;
  padding: 6px;
  margin-left: 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #c3dbdb;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar {
  overflow:visible;
  max-height: 70px;
}

.dropdown-menu {
  z-index: 100000;
}