#logoutBtn {
  margin: 20px 0;
  background-color: #A987DA;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#logoutBtn:hover {
  background-color: #8b6db4;
}

a.edit {
  background-color: #5f94cc;
  color: #fff;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
}
a.edit:hover {
  background-color: #5380b1;

}
a.delete {
  color: #555;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  background-color: #D4C3ED;
}

a.delete:hover {
  background-color: #b5a5cb;
}

a.comment {
  color: #555;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  background-color: #C2DEE6;
}

a.comment:hover {
  background-color: #a7c1c8;
}

#newPostBtn {
  margin: 20px 0;
  background-color: #FFE3E0;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #555;
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #f0d6d3;
}

.list-group-item , .list-group-item:first-child{
  margin: 10px;
  border-radius: 40px;
  padding-bottom: 100px;
}

.lyket-counter{
  margin-top: 20px;
  margin-bottom: 20px;
}