#publicaBtn {
  margin: 20px 0;
  background-color: #C2DEE6;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #555;
  text-align: center;
  text-decoration: none;
}

#publicaBtn:hover {
  background-color: #a2bcc3;
}

#cancelBtn {
  margin: 20px 0;
  background-color: #A987DA;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#cancelBtn:hover {
  background-color: #8d70b5;
}